<!DOCTYPE html>
<html lang="en">
{%load static %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">

<head>

    <title>ECOURSES </title>
</head>

<body>
     <div id="aboutus-section">
     
     <div class="aboutus-heading"><h1>ABOUT US</h1><br><hr></div>
    <div class="aboutus">
        <div class="aboutus-image">
            <img src="{% static 'images/blog-1.jpg' %}">
            
        </div>
        <div class="aboutus-text">
           
            <div class="aboutus-title"> Welcome to E COURSES!! Your Gateway to Quality Online Learning!</div>
            <div class="aboutus-content">
                <p> E COURSES, we believe that education should be accessible, engaging, and empowering for everyone.
                    Our platform is designed to help learners of all ages and backgrounds explore new skills, boost
                    their knowledge, and build confidence through hands-on, high-quality courses.</p>
                <h4> Our Mission</h4>
                <p>To make learning fun, flexible, and future-ready by offering top-notch online courses in coding,
                    creativity, and career skills.</p>
                <h4>What We Offer</h4>

                <ul>
                    <li>Python (Django) - Learn back-end web development.</li>
                    <li>Scratch Programming - For kids and beginners to start coding with ease.</li>
                    <li>Front-End Development - Build beautiful websites using HTML, CSS, and JavaScript.</li>
                </ul>
                <h4>Why Choose Us?</h4>

                <ul>
                    <li>Easy-to-follow video tutorials</li>
                    <li>Friendly instructors and interactive content</li>
                    <li> Quizzes and hands-on projects for better learning</li>
                    <li> Quizzes and hands-on projects for better learning</li>
                    <li>Learn anytime, from anywhere</li>
                </ul>
            </div>
            <button onclick="location.href='/courses'">Learn More</button>
        </div>
    </div>
    </div>
</body>

</html>