<!DOCTYPE html>
<html lang="en">
{%load static %}
<link rel="stylesheet" href="{% static 'css/footer1.css' %}">

<head>

    <title>ECOURSES </title>
    <script src="https://kit.fontawesome.com/355e187699.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer style="background-color: #050345; color: #fff; padding: 60px 20px 20px;">
        <div class="footer-container">
            <div class="footer-box">
                <h4>ABOUT US</h4>
                <p>We are committed to providing top-quality online learning courses designed by industry experts.
                    Whether you're looking to upskill or learn something new, we have something for everyone. Join us to
                    transform your future.</p>
            </div>

            <div class="footer-box">
                <h4>OUR COURSES</h4>
                <ul>
                    <li><a href="/courses1">Python (Django) </a></li>
                    <li><a href="/courses2">Scratch Programming</a></li>
                    <li><a href="/courses3">Front End Development</a></li>

                </ul>
            </div>
            <div class="footer-box">
                <h4>GET IN TOUCH</h4>
                <p><i class="fas fa-map-marker-alt"></i> Bodipatti,Udumalpet,India</p>
                <p><i class="fas fa-phone-alt"></i> +012 345 67890</p>
                <p><i class="fas fa-envelope"></i>code2designweb@gmail.com</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <p>© <span style="color: orange;">Domain Name</span>. All Rights Reserved. Designed by
                 <span style="color: orange;">VGH Website Developer</span>
            </p>
            <div class="footer-links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">FAQs</a>
                <a href="#">Help</a>
            </div>
        </div>
    </footer>